*  {
    margin: 0px;
    padding: 0px;;
}

body {
    font-family: 'Roboto', Roboto, Geneva, Verdana, sans-serif;
}

#sidebar p{
    /* font-family: Roboto; */
    font-size: 14px;
    color:  #072638;
    padding-bottom: 5px;
}

#sidebar p a{
    Text-decoration: none;
    color: red;
}

#sidebar a:hover {
    text-decoration: underline;
    color:  #02977D;
}
